<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <eaterypayment>
                <active>0</active>
                <model>Sachu\Eaterypayment\Model\PaymentMethod</model>
                <title>Eaterypayment</title>
                <sort_order>100</sort_order>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <transactionMethod>default</transactionMethod>
            </eaterypayment>
        </payment>
    </default>
</config>
